<!DOCTYPE html>
<html lang="de"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' />

	<script type="text/javascript" src="../js/toggle.js"></script>

	<title th:text="(${selectedTeacher} ? ${selectedTeacher} : 'Lehrer') + ' | Kapu-Vertretungsplan'"/>
</head>

<header>
	<h1>Kapu-Vertretungsplan</h1>
</header>

<body>
	<div class="subhead">
		<table class='head'>
			<tr>
				<td class='left'>
					<p>Deine Gruppe: Lehrer</p>
					<p th:if="${selectedTeacher}" th:text="'Deine Auswahl: ' + ${selectedTeacher}" />
				</td>
				<td class='right'>
					<form method='post' th:action="@{/logout}"> <input type="submit" name= "sent" class="logout" value="Logout"/> </form>
				</td>
			</tr>
		</table>
	</div>
	<div id="body">
		<center th:if="${message}"> <h2 th:text="${message}"/> </center>
		<center th:if="${errorMsg}"> <h1 th:text="${errorMsg}"/> </center>

		<div th:if="${teacherList}" id="lehrerwahl">
			<input type="button" class="lehrer" onclick="javascript:toggle('teacherSelect')" value="Lehrer auswählen"/>
			<div id="teacherSelect" class="flip" style="display:none" th:style="(${selectedTeacher} ? 'display:none' : 'display:block')">
				<form method="post" th:action="@{/lplan}" th:each="teacher : ${teacherList}">
					<input type="submit" class="lehrerbutton" name="teacherSelect" th:value="${teacher}"></input>
				</form>
			</div>
		</div>

		<div th:if="${vList}" th:each="map,iterStat : ${vList}">
			<input type="button" class="vertretung" th:onclick="'javascript:toggle(\'' + ${iterStat.index} + '\')'"
				   th:value="${map.get('Stunde')} + '.Stunde, ' + (${map.get('Fach')} ? ${map.get('Fach')} : ${map.get('Ersatz Fach')}) + ' (' + ${map.get('Klasse(n)')} + '): ' + ${map.get('Art')}"/>
			<div th:id="${iterStat.index}" class="flip" style="display:none">
				<table>
					<tr th:each="mapEntry: ${map}">
						<td style="width:50%" th:text="${mapEntry.key}"></td> <td style="width:50%" th:text="${mapEntry.value}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>